{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">

<footer class="sticky-footer bg-gradient-dark">
                <div class="container-fluid">
                    <div class="copyright text-center font-weight-bolder text-white ">
                        <span>Copyright &copy; Complaint Management System 2021</span>
                        <br/>
                        <div class="text-center mt-3">
						<a class="txt2 text-success" href="https://www.linkedin.com/in/mohammad-nabeel-2a759695/">
							 Designed & Developed by: Mohd Nabeel</a>
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					    </div>
                          {% comment %} <a class="text-warning font-weight-bold" href='#' style="text-reset; line-height: 2.2em;font-size:16px">Developed By : Mohammad Nabeel</a> {% endcomment %}
                    </div>         
                </div>
            </footer>
            <!-- End of Footer -->
